footer {
    padding: 20px;
    background: #869DA8;

    @include breakpoint(xs) {
        padding: 20px 64px;
    }

    @include breakpoint(md) {
        padding: 30px 0;
    }
}

footer p {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;

    @include breakpoint(xs) {
        font-size: 18px;
        line-height: 23px;
    }
}